{% extends "base.html" %}
{% block title %}
Login Signup Page
{% endblock title %}
{% load static %}


{% block body %}



<section class="user">
    <a href="admin" class="fs-6"
        style="color:rgba(240, 248, 255, 0.5); z-index: 99;  text-decoration: none; position: absolute; bottom: 5%;"
        onmouseover="this.style.color='white'" onmouseout="this.style.color='rgba(240, 248, 255, 0.5)'">Login As
        Admin</a>
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">
                <h2 class="user_unregistered-title">Don't have an account?</h2>
                <p class="user_unregistered-text">
                    Fill Form, then Admin Will verify you. Then You Can Login.
                </p>
                <button class="user_unregistered-signup" id="signup-button">Sign up</button>
            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Have an account?</h2>
                <p class="user_registered-text">Login With Your Proper Credentials filled While SignIn Process.</p>
                <button class="user_registered-login" id="login-button">Login</button>
            </div>
        </div>

        <div class="user_options-forms" id="user_options-forms">
            <div class="user_forms-login container">
                <h2 class="forms_title">Login</h2>
                <form class="forms_form" action="login" method="POST">
                    {% csrf_token %}
                    <fieldset class="forms_fieldset">
                        <div class="forms_field">
                            <input type="email" name="email" placeholder="Email" class="forms_field-input" required
                                autofocus autocomplete="off" />
                        </div>
                        <div class="forms_field">
                            <input type="password" name="password" placeholder="Password" class="forms_field-input"
                                autocomplete="off" required />
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <button type="button" class="forms_buttons-forgot" title="Bhul Gaya 😂">Forgot
                            password?</button>
                        <input type="submit" value="Log In" class="forms_buttons-action" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="user_forms-signup">
                <h2 class="forms_title mt-n5">Sign Up</h2>
                <form class="forms_form" action="register" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="forms_fieldset mt-n3">
                        <div class="forms_field">
                            <input type="text" name="username" placeholder="Full Name" class="forms_field-input"
                                required autocomplete="off" autofocus />
                            <!-- {{form.username}} -->
                        </div>
                        <div class="forms_field">
                            <input type="email" name="email" placeholder="Email" class="forms_field-input" required
                                autocomplete="off" />
                            <!-- {{form.email}} -->
                        </div>
                        <div class="forms_field">
                            <input type="radio" id="male" name="gender" value="Male">
                            <label class="text-light fs-6 p-2" for="male">Male</label><br>
                            <input type="radio" id="female" name="gender" value="Female">
                            <label class="text-light fs-6 p-2" for="female">Female</label><br>
                            <input type="radio" id="other" name="gender" value="Other">
                            <label class="text-light fs-6 p-2" for="other">Other</label>

                        </div>
                        <div class="forms_field mt-n4">
                            <input type="password" name="password1" placeholder="Password" min="8"
                                class="forms_field-input " autocomplete="off" required />
                            <!-- {{form.password}} -->
                        </div>
                        <div class="forms_field mt-n2">
                            <input type="password" name="password2" placeholder="Confirm Password" autocomplete="off"
                                class="forms_field-input" required />
                            <!-- {{form.password}} -->
                        </div>
                        <div class="forms_field">
                            <span style="color: gold;" class="text-uppercase">Upload Your police id pic here for
                                Verification</span><input type="file"
                                title="Upload proof that you are police so that we can identify."
                                class="forms_field-input fs-6" name='idPic' accept="image/*" required />
                        </div>
                        <div class="forms_field">
                            <span style="color: gold;" class="text-uppercase">Upload pic for your profile </span><input
                                type="file" title="Upload your Photo ." name='image' accept="image/*"
                                class="forms_field-input fs-6" required />
                        </div>
                        <div class="forms_field">
                            <input type="text" name="position" placeholder="Post in Depeartment"
                                class="forms_field-input" required autocomplete="on" autofocus />
                            <!-- {{form.username}} -->
                        </div>
                        <div class="forms_field">
                            <input type="tel" name="contact" placeholder="Phone No" class="forms_field-input" required
                                autocomplete="off" autofocus />
                            <!-- {{form.username}} -->
                        </div>
                    </fieldset>
                    <div class="forms_buttons">
                        <input type="submit" value="Sign up" class="forms_buttons-action">
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>


{% endblock body %}

<!-- </body> -->
<!-- <script>
    // Variables
    var signupButton = document.getElementById("signup-button"),
        loginButton = document.getElementById("login-button"),
        userForms = document.getElementById("user_options-forms");

    // Add event listener to the "Sign Up" button
    signupButton.addEventListener(
        "click",
        () => {
            userForms.classList.remove("login-click");
            userForms.classList.add("signup-click");
        },
        false
    );

    // Add event listener to the "Login" button
    loginButton.addEventListener(
        "click",
        () => {
            userForms.classList.remove("signup-click");
            userForms.classList.add("login-click");
        },
        false
    );

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>

</html> -->
